<div class="tree-main" id="bpmn-main">
	<div class="column-resizer"></div>
	<div class="fit-to-height tree-container" id="bpmn-tree-container">
		<div class="tree-search-container" id="tree-search-container">
			<i id="cancel-search-button" class="cancel-search-button hidden fa fa-remove"></i>
			<button type="button" class="tree-back-button" id="tree-back-button" title="Back" disabled><i class="fa fa-caret-left"></i></button>
			<input type="text" class="tree-search-input" id="tree-search-input" placeholder="Search.." />
			<button type="button" class="tree-forward-button" id="tree-forward-button" title="Forward" disabled><i class="fa fa-caret-right"></i></button>
		</div>
		<div class="tree" id="bpmn-tree">
		</div>
	</div>
	<div class="fit-to-height tree-contents-container" id="bpmn-contents-container">
		<div class="tree-contents" id="bpmn-contents">
		</div>
	</div>
	<div class="fit-to-height tree-context-container" id="bpmn-context-container">
		<div class="tree-context" id="bpmn-context">
		</div>
	</div>
</div>
