<div>
	<h2>Process Definitions</h2>
	<table class="properties-table">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="bpmn-available-process-list">
		</tbody>
	</table>
</div>
<div>
	<h2>Manage Processes</h2>
	<table class="properties-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Current Step</th>
				<th>Status</th>
				<th style="width: 100px;">Can be executed?</th>
				<th style="width: 50px;">Steps</th>
				<th style="width: 80px;"></th>
			</tr>
		</thead>
		<tbody id="bpmn-running-process-list">
		</tbody>
	</table>
</div>
