<div class="tree-main" id="security-main">
	<div class="column-resizer"></div>
	<div class="fit-to-height tree-container" id="security-tree-container">
		<div class="tree" id="security-tree">
			<ul class="tree-tabs-menu">
				<li><a id="usersAndGroups_"><span>Users and Groups</span></a></li>
				<li><a id="resourceAccess_"><span>Resource Access Grants</span></a></li>
			</ul>
		</div>
	</div>
	<div class="fit-to-height tree-contents-container" id="security-contents-container">
		<div class="tree-contents" id="security-contents">
			<div id="usersAndGroups">
				<div id="users"></div>
				<div id="groups"></div>
			</div>
			<div id="resourceAccess">
				<div id="resourceAccesses"></div>
			</div>
		</div>
	</div>
</div>